<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sweather Application for HOAS</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://maps.googleapis.com/maps/api/js?&callback=initMap" async defer></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <link rel="stylesheet" href="styles.css">
</head>
<body>


<div id="app" class="container mt-5">
  <div class="row">
    <!-- Left Column -->
    <div class="col-lg-8">
      <div id="map"></div>
      <br>
      <div class="card survey-card">
        <div class="card-header">
          Sweather survey - powered by Sweco
        </div>
        <div class="card-body">
          <div class="gif-container">
            <img src="img/woman-walking.gif" alt="Animated GIF">
          </div>
          <div v-if="currentQuestionIndex === 0" class="notification">
            <h2>Is it raining?</h2>
            <div class="buttons">
              <button @click="selectAnswer('yes')" class="button">Yes</button>
              <button @click="selectAnswer('no')" class="button">No</button>
            </div>
          </div>
        
          <div v-else-if="currentQuestionIndex === 1" class="notification">
            <h2>How do you react to rain?</h2>
            <div class="buttons">
              <button v-if="answers[0] === 'yes'" @click="selectAnswer('take-umbrella')" class="button">Take an umbrella</button>
              <button v-if="answers[0] === 'yes'" @click="selectAnswer('wait')" class="button">Wait for the rain to stop</button>
              <button v-if="answers[0] === 'no'" @click="selectAnswer('enjoy-walk')" class="button">Enjoy the walk</button>
              <button v-if="answers[0] === 'no'" @click="selectAnswer('carry-umbrella')" class="button">Carry an umbrella just in case</button>
            </div>
          </div>
        
          <div v-else-if="currentQuestionIndex === 2" class="notification">
            <h2>How much delay does the rain cause in your plans?</h2>
            <div class="buttons">
              <button v-if="answers[1] === 'take-umbrella' || answers[1] === 'carry-umbrella'" @click="selectAnswer('some-delay'); submit()" class="button">Some delay</button>
              <button v-if="answers[1] === 'wait'" @click="selectAnswer('significant-delay'); submit()" class="button">Significant delay</button>
              <button v-if="answers[1] === 'enjoy-walk'" @click="selectAnswer('no-delay'); submit()" class="button">No delay</button>
            </div>
          </div>

          <div v-else class="notification">
            <h2>Thank you for your submission!</h2>
          </div>
        
        </div>
        
      </div>
    </div>
    
    <!-- Right Column -->
    <div class="col-lg-4">
      <div class="card weather-info" :style="{ 'background-image': 'url(' + weather.background + ')' }">
        <div class="overlay"></div> 
        <div class="card-body">
          <h2>Weather Today</h2>
          <h3>{{ weather.temperature }}°C</h3>
          <div class="weather-alert">
            <p class="alert-text">{{ weather.condition }}</p>
          </div>
        </div>
      </div>
      <br>
      <div class="card photo-from-user">
        <div class="user-photo" :style="{ 'background-image': 'url(' + weather.userPhoto + ')' }">
          <div class="card-body">
            <div class="user-name">
              <p class="alert-text">From: {{ weather.userName }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="script.js"></script>

</body>
</html>